@font-face {
    font-family: 'death_starregular';
    src: url('../fonts/death_star.eot');
    src: url('../fonts/death_star.eot?#iefix') format('embedded-opentype'),
         url('../fonts/death_star.woff2') format('woff2'),
         url('../fonts/death_star.woff') format('woff'),
         url('../fonts/death_star.ttf') format('truetype'),
         url('../fonts/death_star.svg#death_starregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
	font-family: 'death_starregular';
	font-size: 1.5em;
	text-align: center;
	animation: fadeIn 1.25s ease-in-out 0.25s;
    animation-fill-mode: backwards;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}

img.banner {
	width: 100%;
	max-width: 500px;
}

img.portrait {
	display: block;
	margin: 10px auto;
	width: 100%;
	max-width: 300px;
	animation: fadeIn 1.25s ease-in-out 0.25s;
    animation-fill-mode: backwards;
}

#name-list {
	list-style-type: none;
	display: block;
	padding: 0;
}

#name-list li{
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	font-size: 3vw;
	font-family: 'death_starregular';
}

#usedLetters {
	font-family: 'death_starregular';
	font-size: 3vw;
}

.space {
	padding-left: 1%;
	padding-right: 1%;
}

/* ANIMATIONS */

    @keyframes fadeIn {

        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }