@font-face {
    font-family: 'death_starregular';
    src: url('../fonts/death_star.eot');
    src: url('../fonts/death_star.eot?#iefix') format('embedded-opentype'),
         url('../fonts/death_star.woff2') format('woff2'),
         url('../fonts/death_star.woff') format('woff'),
         url('../fonts/death_star.ttf') format('truetype'),
         url('../fonts/death_star.svg#death_starregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img {
	width: 100%;
	max-width: 640px;
}

#name-list {
	list-style-type: none;
	display: block;
	padding: 0;
}

#name-list li{
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	font-size: 3vw;
	font-family: 'death_starregular';
}

#used-letters {
	font-family: 'death_starregular';
	font-size: 3vw;
}
